img {
    max-width: 100%;
}

.image-list {
    margin: 20px -5px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.image-list li {
    width: 115px;
    border: 2px solid #ddd;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.image-list li .btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #bcbcbc;
    border-radius: 100%;
    background-size: 8px;
}

.color-item .spinner-grow {
    opacity: 1;
    animation: none;
}

.cart-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cart-content ul li {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.cart-content ul li strong {
    float: right;
}