.homeslider .carousel-item {
    height: 600px;
}

.category-card {
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}

.category-card a {
    text-decoration: none;
}

.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.category-card .category-card-body {
    padding: 10px 16px;
}

.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.product-item .product-image .stock {
    color: #fff;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 300;
}

.product-item .product-image .brand {
    color: #443a3a;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    font-weight: 300;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.product-item .product-image .brand strong {
    font-weight: 700;
    color: #9b5b11;
}

.sidebar-widget ul li input {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.sidebar-widget ul li label {
    color: #3F69AA;
    cursor: pointer;
}

.custom-pagination .pagination {
    justify-content: center;
}